<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Portfolio - Login</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <h1>Welcome to your portfolio app!</h1>
        <h2>Please log in with your account to access your portfolio.</h2>
    </header>

    <main class="login-container">
        <form action="/user/login" method="POST">
            <label for="login-field">Login</label>
            <input type="text" name="login" id="login-field" placeholder="Enter your email or username" required>

            <label for="password-field">Password</label>
            <input type="password" name="password" id="password-field" placeholder="Enter your password" required>

            <button type="submit" id="login-button">Login</button>
        </form>
        <p class="redirect-msg">Don't have an account? Register <a href="/auth/register">here.</a></p>
    </main>

    <script src="/app.js"></script>
</body>
</html>