<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User portfolio - login</title>
    <link rel="stylesheet" href="../../styles/css/style">
</head>
<body>
    <header>
        <h1>Welcome to your portoflio app!</h1>    
        <h2>Please login with your account to access your portfolio.</h2>
    </header>    
    <div class="login-container">
        <input type="text" name="login" id="login-field"> <br>
        <input type="text" name="password" id="password-field"> <br>
        <button id="login-button">Login</button>
        <p class="register-msg">Don't have an account? Register <a href="/register">here.</a></p>
    </div>
    <script src="app.js"></script>
</body>
</html>