<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Portfolio - Register</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <h1>Create your portfolio account!</h1>
        <h2>Fill in the fields below to register.</h2>
    </header>

    <main class="register-container">
        <form action="/register" method="POST">
            <label for="username-field">Username</label>
            <input type="text" name="username" id="username-field" required>

            <label for="email-field">Email</label>
            <input type="email" name="email" id="email-field" required>

            <label for="password-field">Password</label>
            <input type="password" name="password" id="password-field" required>

            <button type="submit" id="register-button">Register</button>
        </form>
        <p class="login-msg">Already have an account? <a href="/login">Log in here.</a></p>
    </main>

    <script src="/app.js"></script>
</body>
</html>
